/* Container for the product list */
.product-list {
    margin-top: 150px;
    padding: 20px;
    width: max-content;
}

.product-list>.product-list__title {
    color: white;
    /* font-size: 2.2em; */
    margin-bottom: 35px;
}

.product__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
}

.product__item {
    position: relative;
}

.product__item img:nth-child(1) {
    position: absolute;
}

.product__item img:hover {
    cursor: pointer;
}

.product__item img:nth-child(1):hover {
    opacity: 0;
}

.product__item img {
    width: 342px;
    height: 360px;
    transition: 0.22s ease-in;
}

.product__item h4 {
    font-size: 1.2em;
    margin: 10px 0;
    color: white;
}

.product__item p {
    font-size: 1.1em;
    color: white;
    margin: 0;
}

.product__item button {
    background-color: #4CAF50;
    color: #333;
    border: none;
    position: relative;
    bottom: 135px;
    left: 215px;
    /* Positions the button at the bottom right */
    padding: 14px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

/*.product__info button {*/
/*    background-color: #4CAF50;*/
/*    color: white;*/
/*    border: none;*/
/*    padding: 14px;*/
/*    font-size: 1em;*/
/*    cursor: pointer;*/
/*    transition: background-color 0.3s;*/
/*}*/

/*.product__item button:hover {*/
/*    background-color: #45a049;*/
/*}*/

/* Responsive adjustments */
@media (max-width: 1920px) {
    .product__container {
        grid-template-columns: repeat(5, 1fr);
        gap: 38px;
    }
}

@media (max-width: 1366px) {
    .product__container {
        grid-template-columns: repeat(3, 1fr);
        gap: 141px;
    }
}

@media (max-width: 768px) {
    .product__container {
        grid-template-columns: repeat(2, 1fr);
        /* 2 items per row on small screens */
    }
}

@media (max-width: 480px) {
    .product__container {
        grid-template-columns: 1fr;
        /* 1 item per row on very small screens */
    }
}

/* Pagination product */
.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    gap: 10px;
    border: #333 1px solid;
    padding: 10px;
    margin: 20px auto;
    width: 12%;
    color: #fff;
}

.pagination > button {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
}

.pagination > button:disabled {
    color: #555;
    cursor: not-allowed;
}

.page-info {
    margin: 0px 10px 0 10px;
    font-size: 20px;
    font-weight: bold;
}