*,
*:before,
*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
    font-family: Poppins-Regular;
 }

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--black);
    font-family: "Poppins-Regular", sans-serif;
    /* overflow: visible; */
}

:root{
    --black: #201c1c;
    --green: #08dc64;
    --green-l: #08bc5c;
    --gray: #bbbbbb;
}

/* slider */

.slider{
    position: relative;
    top: 123px;
    width: 1519px;
    max-width: 100vw;
    width: 100%;
    height: 550px;
    overflow: hidden;
}

.slider__list{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: max-content;
    transition: 1s;
}

.slider__list img{
    width: 1519px;
    height: 100%;
}

.slider__button{
    position: absolute;
    top: 42%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.slider__button button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-weight: bold;
}

.slider__dots{
    position: absolute;
    left: 87%;
    bottom: 5%;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}

.slider__dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 20px 10px;
    border-radius: 20px;
    transition: 1s;
}

.slider__dots li.active{
    background-color: #fff;
    width: 29px;
}

/* shopping slider */

.best__slider{
    position: relative;
    top: 190px;
    max-width: 1519px;
    max-width: 100vw;
    height: 590px;
    /* background-color: purple; */
    margin: 0 40px 200px;
    /* margin-bottom: 200px; */
    overflow: hidden;
}

.best__slider h1{
    color: white;
    font-size: 2.2em;
    margin-bottom: 35px;
}

.best__slider__list{
    position: absolute;
    /* top: 0; */
    /* top: 50px; */
    left: 0;
    height: 100%;
    display: flex;
    width: max-content;
    transition: 0.7s;
}

.best__slider__list img{
    width: 350px;
    height: 360px;
    transition: 0.22s ease-in;
}

.best__slider__item{
    position: relative;
    margin-right: 20px;
}

.best__slider__item img:nth-child(1){
    position: absolute;
}

.best__slider__item img:hover{
    cursor: pointer;
}

.best__slider__item img:nth-child(1):hover{
    opacity: 0;
}

.best__slider__item h4{
    position: absolute;
    left: 0;
    color: white;
    /* font-size: 1em; */
    margin-top: 3px;
}

.best__slider__item p{
    position: absolute;
    top: 67%;
    color: var(--gray);
    font-size: 15px;
}

.best__slider__item button{
    position: absolute;
    top: 51%;
    left: 61%;
    font-size: 15px;
    font-weight: bold;
    color: black;
    background-color: var(--green);
    border: none;
    padding: 14px;  
    /* opacity: 0; */
    /* display: none; */
}

.best__slider__item button:hover{
    cursor: pointer;
    background-color: rgba(8, 220, 100, 0.8);
}

.best__slider__button{
    position: absolute;
    top: 90%;
    left: 90%;
    width: 90%;
    display: flex;
}

.best__slider__button button{
    width: 45px;
    height: 45px;
    border: solid 1px var(--green);
    border-radius: 50%;
    background-color: var(--black);
    color: var(--green);
    font-weight: bold;
    margin-right: 15px;
}

.best__slider__button button:hover{
    cursor: pointer;
}

.best__slider__button button i:nth-child(2){
    display: none;
}

.best__slider__button button:nth-child(1):hover #left__angle{
    display: none;
}

.best__slider__button button:nth-child(1):hover #left__arrow{
    display: inline;
}

.best__slider__button button:nth-child(2):hover #right__angle{
    display: none;
}

.best__slider__button button:nth-child(2):hover #right__arrow{
    display: inline;
}

.best__slider__dots{
    position: absolute;
    bottom: 6.2%;
    left: 4%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}

.best__slider__dots li{
    list-style: none;
    width: 200px;
    height: 1.5px;
    /* width: 20px;
    height: 20px; */
    background-color: #142c24;
    /* background-color: purple; */
    /* margin-right: 10px; */
    transition: 0.6s ease-in;
}

.best__slider__dots li.best__active{
    background-color: var(--green);
} 
