*,
*:before,
*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
    font-family: Poppins-Regular;
 }

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--black);
    font-family: "Poppins-Regular", sans-serif;
    /* overflow: visible; */
}

:root{
    --black: #201c1c;
    --green: #08dc64;
    --green-l: #08bc5c;
    --gray: #bbbbbb;
}

/* slider */

.slider{
    position: relative;
    top: 123px;
    max-width: 1519px;
    width: 100%;
    height: 590px;
    /* overflow: hidden; */
}

.slider__list{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: max-content;
    transition: 1s;
}

.slider__list img{
    width: 1519px;
    height: 100%;
}

.slider__button{
    position: absolute;
    top: 42%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.slider__button button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-weight: bold;
}

.slider__dots{
    position: absolute;
    bottom: 20px;
    color: #fff;
    left: 1300px;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}

.slider__dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 20px 10px;
    border-radius: 20px;
    transition: 1s;
}

.slider__dots li.active{
    background-color: #fff;
    width: 30px;
}

/* shopping slider */

.best__slider{
    position: relative;
    top: 160px;
    width: 100%;
    height: 550px;
    background-color: purple;
    margin-left: 45px;
    /* overflow: hidden; */
}

.best__slider__h1{
    position: absolute;
    top: 0;
    left: 0;
}

.best__slider h1{
    color: white;
    font-size: 2.2em;
}

.best__slider__list{
    position: absolute;
    /* top: 0; */
    /* top: 50px; */
    left: 0;
    height: 100%;
    display: flex;
    /* justify-content: space-around; */
    width: max-content;
    transition: 1s;
}

.best__slider__list img{
    width: 350px;
    height: 360px;
}

.best__slider__item{
    position: relative;
    margin-right: 22px;
}

.best__slider__item img:hover{
    cursor: pointer;
}

.best__slider__item img:hover button{
    opacity: 1;
    visibility: visible;
}

.best__slider__item h3{
    position: absolute;
    left: 0;
    color: white;
    font-size: 1.2em;
}

.best__slider__item p{
    position: absolute;
    top: 72%;
    color: var(--gray);
}

.best__slider__item button{
    position: absolute;
    top: 52%;
    left: 55%;
    font-size: 16px;
    font-weight: bold;
    color: black;
    background-color: var(--green);
    border: none;
    padding: 18px;
    opacity: 0;
    visibility: hidden;
}

.best__slider__item button:hover{
    cursor: pointer;
    background-color: rgba(8, 220, 100, 0.9);
}

.best__slider__button{
    position: absolute;
    top: 85%;
    left: 85%;
    width: 90%;
    display: flex;
}

.best__slider__button button{
    width: 50px;
    height: 50px;
    border: solid 1px var(--green);
    border-radius: 50%;
    background-color: var(--black);
    color: var(--green);
    font-weight: bold;
    margin-right: 10px;
}

.best__slider__button button:hover{
    cursor: pointer;
}

.best__slider__button button i:nth-child(2){
    display: none;
}

.best__slider__button button:nth-child(1):hover #left__angle{
    display: none;
}

.best__slider__button button:nth-child(1):hover #left__arrow{
    display: inline;
}

.best__slider__button button:nth-child(2):hover #right__angle{
    display: none;
}

.best__slider__button button:nth-child(2):hover #right__arrow{
    display: inline;
}

/* .slider__dots{
    position: absolute;
    bottom: 20px;
    color: #fff;
    left: 1300px;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}

.slider__dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 20px 10px;
    border-radius: 20px;
    transition: 1s;
}

.slider__dots li.active{
    background-color: #fff;
    width: 30px;
} */
