*,
*:before,
*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
    font-family: Poppins-Regular;
 }

html{
    scroll-behavior: smooth;
    font-size: 16px;
}

body{
    background-color: var(--black);
    font-family: "Poppins-Regular", sans-serif;
    /* overflow: visible; */
}

:root{
    --black: #201c1c;
    --green: #08dc64;
    --green-l: #08bc5c;
    --gray: #bbbbbb;
}





/* navigation between pages */

#main__page{
    /* display: none; */
}

#login__page{
    display: none;
}

#signup__page{
    display: none;
}





/* slider */

.slider{
    position: relative;
    top: 123px;
    width: 1519px;
    height: 560px;
    max-width: 100vw;
    width: 100%;
    overflow: hidden;
}

.slider__list{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: max-content;
    transition: 1s;
}

.slider__list img{
    width: 1519px;
    height: 100%;
}

.slider__button{
    position: absolute;
    top: 42%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.slider__button button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-weight: bold;
}

.slider__button button:hover{
    cursor: pointer;
}

.slider__dots{
    position: absolute;
    left: 87%;
    bottom: 5%;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}

.slider__dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 20px 10px;
    border-radius: 20px;
    transition: 1s;
}

.slider__dots li.active{
    background-color: #fff;
    width: 29px;
}





/* shopping slider */

.best__slider{
    position: relative;
    top: 185px;
    max-width: 1519px;
    max-width: 100vw;
    height: 590px;
    /* background-color: purple; */
    margin: 0 40px 200px;
    /* margin-bottom: 200px; */
    overflow: hidden;
}

.best__slider h1{
    color: white;
    font-size: 2.2em;
    margin-bottom: 35px;
}

.best__slider__list{
    position: absolute;
    /* top: 0; */
    /* top: 50px; */
    left: 0;
    height: 100%;
    display: flex;
    width: max-content;
    transition: 0.7s;
}

.best__slider__list img{
    width: 342px;
    height: 360px;
    transition: 0.22s ease-in;
}

.best__slider__item{
    position: relative;
    margin-right: 20px;
}

.best__slider__item img:nth-child(1){
    position: absolute;
}

.best__slider__item img:hover{
    cursor: pointer;
}

.best__slider__item img:nth-child(1):hover{
    opacity: 0;
}

.best__slider__item h4{
    position: absolute;
    left: 0;
    color: white;
    /* font-size: 1em; */
    margin-top: 3px;
}

.best__slider__item p{
    position: absolute;
    top: 67%;
    color: var(--gray);
    font-size: 15px;
}

.best__slider__item button{
    position: absolute;
    top: 51%;
    left: 60.5%;
    font-size: 15px;
    font-weight: bold;
    color: black;
    background-color: var(--green);
    border: none;
    padding: 14px;  
    /* opacity: 0; */
    /* display: none; */
}

.best__slider__item button:hover{
    cursor: pointer;
    background-color: rgba(8, 220, 100, 0.8);
}

.best__slider__button{
    position: absolute;
    top: 90%;
    left: 90%;
    width: 90%;
    display: flex;
}

.best__slider__button button{
    width: 45px;
    height: 45px;
    border: solid 1px #303828;
    border-radius: 50%;
    background-color: var(--black);
    color: var(--green);
    font-weight: bold;
    margin-right: 15px;
}

.best__slider__button button:hover{
    cursor: pointer;
}

.best__slider__button button i:nth-child(2){
    display: none;
}

.best__slider__button button:nth-child(1):hover #left__angle{
    display: none;
}

.best__slider__button button:nth-child(1):hover #left__arrow{
    display: inline;
}

.best__slider__button button:nth-child(2):hover #right__angle{
    display: none;
}

.best__slider__button button:nth-child(2):hover #right__arrow{
    display: inline;
}

.best__slider__dots{
    position: absolute;
    bottom: 6.2%;
    left: 5%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}

.best__slider__dots li{
    list-style: none;
    width: 230px;
    height: 1.5px;
    /* width: 20px;
    height: 20px; */
    background-color: #142c24;
    /* background-color: purple; */
    /* margin-right: 10px; */
    transition: 0.7s ease;
    /* animation: bestSlider 0.5s ease; */
}

.best__slider__dots li.best__active{
    background-color: var(--green);
} 

/* @keyframes bestSlider {
    from{
        transform: translateX(0px);
    }
    to{
        transform: translateX(230px);
    }
} */







/* book slider */

.book__slider{
    position: relative;
    top: 50px;
    max-width: 1519px;
    max-width: 100vw;
    height: 590px;
    /* background-color: purple; */
    margin: 0 40px;
    /* margin-bottom: 200px; */
    overflow: hidden;
}

.book__slider h1{
    color: white;
    font-size: 2.2em;
    margin-bottom: 35px;
}

.book__slider__list{
    position: absolute;
    /* top: 0; */
    /* top: 50px; */
    left: 0;
    height: 100%;
    display: flex;
    width: max-content;
    transition: 0.7s;
}

.book__slider__list img{
    width: 342px;
    height: 360px;
    transition: 0.22s ease-in;
}

.book__slider__item{
    position: relative;
    margin-right: 20px;
}

.book__slider__item img:nth-child(1){
    position: absolute;
}

.book__slider__item img:hover{
    cursor: pointer;
}

.book__slider__item img:nth-child(1):hover{
    opacity: 0;
}

.book__slider__item h4{
    position: absolute;
    left: 0;
    color: white;
    /* font-size: 1em; */
    margin-top: 3px;
}

.book__slider__item p{
    position: absolute;
    top: 67%;
    color: var(--gray);
    font-size: 15px;
}

.book__slider__item button{
    position: absolute;
    top: 51%;
    left: 60.5%;
    font-size: 15px;
    font-weight: bold;
    color: black;
    background-color: var(--green);
    border: none;
    padding: 14px;  
    /* opacity: 0; */
    /* display: none; */
}

.book__slider__item button:hover{
    cursor: pointer;
    background-color: rgba(8, 220, 100, 0.8);
}

.book__slider__button{
    position: absolute;
    top: 90%;
    left: 90%;
    width: 90%;
    display: flex;
}

.book__slider__button button{
    width: 45px;
    height: 45px;
    border: solid 1px #303828;
    border-radius: 50%;
    background-color: var(--black);
    color: var(--green);
    font-weight: bold;
    margin-right: 15px;
}

.book__slider__button button:hover{
    cursor: pointer;
}

.book__slider__button button i:nth-child(2){
    display: none;
}

.book__slider__button button:nth-child(1):hover #left__angle{
    display: none;
}

.book__slider__button button:nth-child(1):hover #left__arrow{
    display: inline;
}

.book__slider__button button:nth-child(2):hover #right__angle{
    display: none;
}

.book__slider__button button:nth-child(2):hover #right__arrow{
    display: inline;
}

.book__slider__dots{
    position: absolute;
    bottom: 6.2%;
    left: 5%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}

.book__slider__dots li{
    list-style: none;
    width: 88.5px;
    height: 1.5px;
    /* width: 20px;
    height: 20px; */
    background-color: #142c24;
    /* background-color: purple; */
    /* margin-right: 10px; */
    transition: 0.5s ease;
}

.book__slider__dots li.book__active{
    background-color: var(--green);
} 


.banner{
    margin: 250px 0 0;
}

.banner img{
    width: 1519px;
    height: 560px;
}









.product__page{
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;
}

.product{
    /* display: flex; */
    /* display: none; */
    position: relative;
    width: 1000px;
    height: 600px;

    margin: 40px auto;
    /* background-color: var(--black); */
    background-color: rgba(32, 28, 28, 0.93);
    /* background-color: purple; */
    display: flex;
    animation: topDown 0.5s ease;
}

@keyframes topDown{
    from{
        transform: translateY(-700px);
    }
    to{
        transform: translateY(0px);
    }
}

#product__close{
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 1.2em;
    transition: transform 0.3s;
}

#product__close:hover{
    cursor: pointer;
    transform: translateY(-5px);
}

.product *{
    color: white;
}


.product h1{
    font-size: 1.7em;
}


.product__img{
    width: 45%;
    margin-top: 25px;
}

.product__info{
    margin-top: 25px;
    margin-left: 30px;
    width: 55%;
    margin: auto 30;
}

.product__img img{
    width: 100%;
    height: 77%;
    margin: 0;
    margin-top: 12.2px;
}

.product__info button:hover{

    cursor: pointer;
}

.product__info--rating i{
    color: gold;
}

.product__info--rating :nth-child(5)
{
    color: white;
}

.product__info p:nth-child(5){
    color: var(--gray);

}

.product__info p:nth-child(6){
    margin-bottom: 10px;
}

.product__info p:nth-child(15){
    font-size: 0.87em;
}

.product__info p:nth-child(17){
    font-size: 0.87em;
}

#product__quantitydown{
    background-color: var(--black);
    color: white;
    border: solid 1px #303828;
    border-right: none;
    width: 50px;
    height: 45px;
    margin-bottom: 25px;
}

#product__quantityup{
    background-color: var(--black);
    border: solid 1px #303828;
    border-left: none;
    width: 50px;
    height: 45px;
}

#product__quantity{
    background-color: var(--black);
    border: solid 1px #303828;
    border-left: none;
    border-right: none;
    width: 70px;
    height: 45px;
    text-align: center;
}

#product__add{
    background-color: var(--green);
    border: none;
    color: black;
    height: 55px;
    width: 320px;
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 25px;
}

#product__add:hover{
    background-color: var(--green-l);
}







/* login page */

.login{
    width: 400px;
    position: relative;
    top: 150px;
    margin: auto auto 150px;
}

.login h1{
    font-size: 40px;
    color: white;
    text-align: center;
}

.login__input{
    width: 100%;
    height: 55px;
    margin: 15px 0;
}

.login input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #363636;
    padding: 20px 45px 20px 20px;
    font-size: 16px;
    color: white;
}

.login input::placeholder{
    color: #8d8d8d;
    font-size: 16px;
}

.login__btn{
    width: 100%;
    height: 65px;
    background-color: var(--green);
    font-size: 20px;
    font-weight: bold;
    border: none;
    outline: none;
}

.login__btn:hover {
    cursor: pointer;
    background-color: var(--green-l);
}

.login a{
    color: var(--gray);
    text-decoration: none;
    position: relative;
}

.login a:hover{
    cursor: pointer;
}

 .login a::after{
    content: '';
    background-color: var(--gray);
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s;
}

 .login a:hover::after{
    width: 0;
}
 
.login__forget{
    font-size: 17px;
    margin-bottom: 25px;
}

.login__signup{
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin: 25px 0px;
}





/* signup page */

.signup{
    width: 500px;
    position: relative;
    top: 140px;
    margin: auto auto 140px;
}

.signup h1{
    font-size: 45px;
    color: white;
    text-align: center;
}

.signup__input{
    width: 100%;
    height: 55px;
    margin: 15px 0;
}

.signup input{
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    border: 2px solid #363636;
    padding: 20px 45px 20px 20px;
    font-size: 16px;
    color: white;
}

.signup input::placeholder{
    color: #8d8d8d;
    font-size: 16px;
}

.signup__btn{
    width: 100%;
    height: 65px;
    background-color: var(--green);
    font-size: 20px;
    font-weight: bold;
    border: none;
    outline: none;
}

.signup__btn:hover{
    background-color: var(--green-l);
    cursor: pointer;
}

.signup a{
    color: var(--gray);
    text-decoration: none;
    position: relative;
}

.signup a:hover{
    cursor: pointer;
}

 .signup a::after{
    content: '';
    background-color: var(--gray);
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s;
}

 .signup a:hover::after{
    width: 0;
}

 .signup__login{
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin: 25px 0px;
 }