.order__history {
  max-width: 650px;
  margin: 2rem auto;
  border: 1px solid #ddd;
  padding: 20px;
}

.order__history > h2{
  color: #ddd;
}

.order {
  border-bottom: 1px solid #ddd;
}

.order:last-child {
  border-bottom: none;
}

.order__id,
.order__date,
.order__status {
  font-weight: bold;
  color: #ddd;
}

.order__cancel-btn {
  display: block;
  height: 35px;
  width: 130px;
  margin-top: 5px;
  padding: 5px;
  background-color: #008d3f;
  color: white;
  font-size: 15px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.order__cancel-btn:hover {
  background-color: #00b63a;
}

.order__items__details ul {
  list-style: none;
  padding: 0;
}

.order__items__details li {
  padding: 5px 0;
}

.status--completed {
  color: green;
}

.status--pending {
  color: orange;
}

.status--cancelled {
  color: red;
}

.status-pending {
  color: orange;
}

.show__details {
  cursor: pointer;
  color: #ddd;
}

.order__items__details {
  color: #ddd;
}